body {
    background-color: #dad9db;
    font-family: 'Lato', sans-serif;
}

#box1, #box2, #box3, #box4 {
    text-align: center;
}

.readme-wrapper {
    border-style: solid;
}

.relative {
    left: 300px;
    top: 1em;
}

.boxes {
    margin: 3em;
    padding: 8mm;
    border: solid;
    border-radius: 20%;
    display: block;
    width: 20%;
}

a:link {
    text-decoration: none;
    color: #7b0396;
}

a:hover{
    color: #3f1068;
    cursor: pointer;
    font-weight: bold;
}

#box1 {
    background-color: darkcyan;
}

#box2 {
    background-color: gold;
}

#box3 {
    background-color: lightpink;
}

#box4 {
    background-color: darkslateblue;
}

.image {
    background-color: rgb(96, 158, 158);
    left: 60px;
    top: 50em;
    width: 10%;
   
}

h1 {
    color: rgb(175, 10, 10);
}

.superhero {
    color: rgb(22, 127, 197);
}

.drama {
    color: rgb(11, 117, 20);
}

#show1{
    color: rgb(44, 8, 51);
}

#show2{
    color: rgba(30, 15, 99, 0.233);
}

#show3{
    color: rgb(21, 17, 22);
}

#show4{
    color: rgb(143, 56, 160);
}

#show5{
    color: rgb(100, 73, 105);
}

ul{
    color: #7b0396;
    text-decoration: underline;
}

.list {
    border: 2x;
    border: solid;
    border-color: black;
    color: red;
}